@import "../colors";

.leftarr {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.552);
  border-radius: 50%;
  top: 10px;
  right: 10px;
}

.categories {
  height: 100vh;
}

.categories-top {
  // background-image: url('../../assets/stretching-on-tire.jpg');
  // height: 60%;
  // width: 100%;
  background-position: 0 20%;
  background-size: cover;
}

.categories-detail {
  color: white;
  padding: 10px;
  height: 100%;
  background-image: url("../../assets/stretching-on-tire.jpg");
  background-size: cover;
  background-color: rgba(23, 25, 20, 0.669);
  background-blend-mode: hard-light;
  background-position: 30% 20%;

  h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;

    span {
      color: $primary-normal;
    }
  }

  h5 {
    text-align: center;
    color: $primary-light-active;
    font-weight: 500;
  }

  p {
    // height: 80%;
    overflow-y: scroll;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: $primary-light-hover;
    max-height: 60%; 

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-normal;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-border-radius: rem(4px);
      -webkit-border-radius: rem(4px);
      border-radius: rem(4px);
    }
  }
}

.category-main-det {
  height: 60%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.categories-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 10vh;
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  button {
    text-align: center;
    background-color: $primary-normal;
    padding: 10px;
    border-radius: 6px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

a {
  color: black;
  text-decoration: none;
}
