@import "../colors";

.top {
  background-color: $primary-darker;
  min-height: 25vh;
  color: white;
  text-align: center;
  display: flex;
  align-items: flex-end;

  h2 {
    padding: 30px;
  }
}

.maincontent {
  padding: 10px;
  height: 70vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-dark-active;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-border-radius: rem(4px);
    -webkit-border-radius: rem(4px);
    border-radius: rem(4px);
  }
}

.card-cover {
  padding: 5px 10px;
}

.name-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
