// accents-colors
$accent-light: rgb(255, 244, 247);
$accent-light-hover: rgb(255, 238, 242);
$accent-light-active: rgb(255, 220, 229);
$accent-normal: rgb(255, 142, 170);
$accent-normal-hover: rgb(230, 128, 153);
$accent-normal-active: rgb(204, 114, 136);
$accent-dark: rgb(191, 107, 128);
$accent-dark-hover: rgb(153, 85, 102);
$accent-dark-active: rgb(115, 64, 76);
$accent-darker: rgb(89, 50, 59);

// primary-colors
$primary-light: rgb(248, 254, 231);
$primary-light-hover: rgb(244, 253, 219);
$primary-light-active: rgb(232, 252, 180);
$primary-normal: rgb(180, 244, 12);
$primary-normal-hover: rgb(162, 220, 11);
$primary-normal-active: rgb(144, 195, 10);
$primary-dark: rgb(135, 183, 9);
$primary-dark-hover: rgb(108, 146, 7);
$primary-dark-active: rgb(81, 110, 5);
$primary-darker: rgb(63, 85, 4);

// secodary-colors
$secondary-light: rgb(230, 239, 239);
$secondary-light-hover: rgb(217, 232, 232);
$secondary-light-active: rgb(176, 207, 207);
$secondary-normal: rgb(0, 99, 99);
$secondary-normal-hover: rgb(0, 89, 89);
$secondary-normal-active: rgb(0, 79, 79);
$secondary-dark: rgb(0, 74, 74);
$secondary-dark-hover: rgb(0, 59, 59);
$secondary-dark-active: rgb(0, 45, 45);
$secondary-darker: rgb(0, 35, 35);

// neutral-colors
$neutral-light: rgb(170, 172, 166);
$neutral-light-hover: rgb(153, 156, 148);
$neutral-light-active: rgb(133, 135, 126);
$neutral-normal: rgb(67, 71, 57);
$neutral-normal-hover: rgb(57, 60, 48);
$neutral-normal-active: rgb(49, 52, 42);
$neutral-dark: rgb(23, 25, 20);
$neutral-dark-hover: rgb(17, 18, 14);
$neutral-dark-active: rgb(7, 8, 6);

$color-black: #41423d;
$color-neutral-100: #f5f4f0;
$color-neutral: #dfddd0;
$color-primary-100: #f0f7f5;
$color-primary-200: #e0eeeb;
$color-primary-300: #cfe5e0;
$color-primary: #3f9783;
$color-primary-500: #327969;
$color-white: #fbfcfa;
$text-font-family: "Inter", sans-serif;
$title-font-family: "Lora", serif;
$title-font-weight: 500;
