@import './colors';

input[type="date"]{
    background-color: $primary-light-active;
    padding: 10px;
    color: #242424;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

::-webkit-calendar-picker-indicator{
    cursor: pointer;
    background-color: #ffff;
    padding: 5px;
    border-radius: 5px;
}

.card-cover h2{
    margin-bottom: 10px;
}

.card-cover > div > p{
    margin-bottom: 10px;
}

.sub{
    display: flex;
}

.sub-btn{
    background-color: $primary-dark;
    color: #ffff;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
}