.cards {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.724);
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
  padding: 20px;
  // width: fit-content;
  margin-right: 20px;
  margin-bottom: 20px;
  gap: 20px;

  p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 35px;
    font-weight: 500;
  }

  .right {
    color: $primary-normal;
  }
}

.day-group {
  h2 {
    color: $primary-normal;
  }
}
