@import "./colors";

.contain{
    .cover{
        background-color: $primary-light;
        padding: 20px;
        min-height: 100vh;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        display: flex;
        justify-content: space-between;
        gap: 10px;

        @media (max-width: 930px) {
            flex-direction: column;
        }

        .start{
            display: flex;
            flex: 1;
            // width: 35vw;
            width: 100%;
            min-width: 45%;
            .left{
                background-color: #171914;
                color: #F8FEE7;
                min-height: 100vh;
                padding: 20px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                width: 100%;
                @media (max-width: 930px) {
                    min-height: fit-content;
                    max-height: fit-content;
                    height: 80vh;
                    width: 50%;
                }
                
                .left-cover{
                    min-height: 100vh;
                    // height: 80vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media (max-width: 930px) {
                        min-height: 90%;
                    }

                    .left-det{
                        .tabs{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 10px;
                            padding: 10px 15px;
                            margin: 10px 0px;
                            font-weight: 300;
                            border-radius: 8px;
                            border: 2px solid white;
                            cursor: pointer;
                            transition: 0.3s ease;

                            p{
                                @media (max-width: 930px) {
                                    font-size: 13px;
                                }
                            }

                            img{
                                opacity: 0;
                                transition: 0.3s ease;
                            }

                            &:hover{
                                background-color: $primary-dark;

                                img{
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .last{
                        color: $primary-normal;
                    }
                }
            }
            .right{
                min-height: 100vh;
                padding: 10px;
                padding: 20px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border: 1px solid $primary-dark;
                width: 100%;

                @media (max-width: 930px) {
                    min-height: fit-content;
                    max-height: fit-content;
                    height: 80vh;
                    width: 50%;
                }

                h3{
                    color: #171914;
                }
                
                .right-cover{
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @media (max-width: 930px) {
                        min-height: 90%;
                    }

                    .right-det{
                        .tabs{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 10px;
                            padding: 10px 15px;
                            margin: 10px 0px;
                            font-weight: 400;
                            color: #F8FEE7;
                            border-radius: 8px;
                            // border: 2px solid white;
                            cursor: pointer;
                            transition: 0.3s ease;
                            background-color: $primary-dark;

                            p{
                                @media (max-width: 930px) {
                                    font-size: 13px;
                                }
                            }
   
                        }

                        .last{
                            div{
                                border: 1px solid;
                            }
                        }
                    }
                }
            }
        }

        .end{
            // width: 100%;
            max-width: 60%;

            @media (max-width: 930px) {
                max-width: 100%;
            }
            .details{
                display: flex;
                flex-direction: column;
                flex: 1;
               .workout-vid{
                width: 90%;
    
                @media (max-width: 960px) {
                    width: 100%;
                }
               }
                .detail-head{
                    display: flex;
                    align-items: center;
                }
    
                p{
                    margin-bottom: 20px;
                    max-width: 100%;
                }
                h4{
                    margin-top: 10px;
                }
                .slider{
                    margin-top: -20px;
                }
            }
        }
    }
}